<div class="login-modal login-modal--hidden" id="loginModal" aria-hidden="true">
  <div class="login-modal__backdrop" data-login-close></div>
  <div class="login-modal__panel" role="dialog" aria-modal="true">
    <button type="button" class="login-modal__close" data-login-close>&times;</button>
    <div class="login-modal__brand">
      <div class="login-modal__logo">
        <img src="./assets/crama-logo1.png" alt="crama" />
      </div>
      <h3 class="login-modal__title">로그인</h3>
      <p class="login-modal__desc">이용약관과 개인정보 수집 및 이용에 동의합니다.</p>
    </div>
    <div class="login-providers">
      <button type="button" class="login-modal__button login-modal__button--google" id="loginModalGoogleBtn">
        <img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="Google" width="20" height="20">
        Google
      </button>
    </div>
    <div class="login-modal__status" id="loginModalStatus"></div>
    <p class="login-modal__legal">문의: help@crama.app</p>
  </div>
</div>
